<!-- header start -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between"> <a routerLink="/dashboard" class="logo d-flex align-items-center"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a> <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i></div>
    <!-- <div class="search-bar">
       <form class="search-form d-flex align-items-center" method="POST" action="#"> <input type="text" name="query" placeholder="Search" title="Enter search keyword"> <button type="submit" title="Search"><i class="bi bi-search"></i></button></form>
    </div> -->
    <nav class="header-nav ms-auto">
       <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i class="bi bi-search"></i> </a></li>
          <li class="nav-item dropdown">
             <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span class="badge bg-primary badge-number">{{ approvedcount}}</span> </a>
             <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                <li class="dropdown-header" > You have  <h6>{{ approvedcount}} curriculums to be approved </h6>

                  
         </ul>
          <li class="nav-item dropdown">
             <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-chat-left-text"></i> <span class="badge bg-success badge-number">{{responsependingcount}}</span> </a>
             <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                <li class="dropdown-header"> You have <h6>{{responsependingcount}} pending responses from faculty</h6>

                 
         </ul>

          <li class="nav-item dropdown pe-3">
             <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <i class="bi bi-person-circle"></i> <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span> </a>
             <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                   <h6> ADMIN </h6>
                </li>
                <li>
                   <hr class="dropdown-divider">
                </li>
               
                <li> <a class="dropdown-item d-flex align-items-center" routerLink="/admin/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
                <li>
                   <hr class="dropdown-divider">
                </li>
               
                <li>

                  <a class="dropdown-item d-flex align-items-center" routerLink="/login"> <button style = "color:darkblue;"  class = "border-0 bg-white "(click) = "logout()"><i class="bi bi-box-arrow-right"></i> <span>Sign Out</span> </button></a>
              </li>
             </ul>
          </li>
       </ul>
    </nav>
 </header>


 
<!-- header end -->
<!-- sidebar starts -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item">

          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="requirementform"> <i class="bi bi-menu-button-wide"></i><span>Requirement Form</span> </a>
       </li>
       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="curriculumfaculty"> <i class="bi bi-envelope"></i><span>Curriculum from faculty</span> </a>

      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="view"> <i class="bi bi-layout-text-window-reverse"></i><span>View Curriculum</span> </a>

      </li>
     
         <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="/login"> 
               <button style="color:#012970;font-weight: 600;"  class = "border-0 bg-white "(click) = "logout()">
                  <i style = "font-size: 17px "class="bi bi-box-arrow-right">

               

            </i><span>Logout  </span> </button></a>
  
         </li>
      
       
       
    </ul>

 </aside>

 <router-outlet></router-outlet>
 <!-- sidebar ends -->
 <!-- footer -->
<footer id="footer" class="footer">
   <div class="copyright"> &copy; Copyright <strong><span>ICTAK</span></strong>. All Rights Reserved 2022</div>
</footer>
<a (click)="scrollTop()" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
