<main>
   <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
   </div>

   <div class="container">
      <section class="section register max-vh-200
      d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">

            <div class="row justify-content-center">
               <div class="col-lg-6">
               <!-- col-md-6 d-flex flex-column align-items-center justify-content-center"> -->
                  <!-- <div class="d-flex justify-content-center py-4"> <a routerLink="/"
                        class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> 
                           class="d-none d-lg-block">
                           ICTAK </a></div> -->
                           
                  <div class="card mb-3">
                     <div class="card-body">
                        <div class="pt-2 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                           <!-- <p class="text-center small">Enter your personal details to create account</p> -->
                        </div>
                        <form #userlogin="ngForm" (ngSubmit)="onsubmit()">
                           <div class="col-12">

                              <label for="exampleInputPassword1" class="form-label">Name</label>
                              <input type="text" class="form-control" name="name" [(ngModel)]="signupform.name"
                                 [class.is-invalid]="name.invalid && name.touched" #name="ngModel" required>
                              <small class="text-danger" [class.d-none]="name.valid||name.untouched">Required
                                 Field</small>
                           </div>

                           <div class="col-6">
                              <label for="yourEmail" class="form-label">Your Email</label>
                              <input type="email" class="form-control" [(ngModel)]="signupform.email" name="email"
                                 #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                                 id="exampleInputEmail1" aria-describedby="emailHelp" required
                                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                              <small class="text-danger" [class.d-none]="email.valid || email.untouched"
                                 style="color: black; font-size: small,">
                                 Enter a valid email</small>
                           </div>

                           <div class="col-12">
                              <label for="yourPassword" class="form-label">Password</label>
                              <input type="password" class="form-control" [(ngModel)]="signupform.password"
                                 name="password" #password="ngModel"
                                 [class.is-invalid]="password.invalid && password.touched" required minlength="8" />
                              <small class="text-danger" [class.d-none]="password.valid || password.untouched"
                                 style="color: black; font-size: small">Enter correct password</small>
                              </div>
                              <div class="col-12">

                                 <label for="exampleInputPassword1" class="form-label">Place</label>
                                 <input type="text" class="form-control" name="place" [(ngModel)]="signupform.place"
                                    [class.is-invalid]="place.invalid && place.touched" #place="ngModel" required>
                                 <small class="text-danger" [class.d-none]="place.valid||place.untouched">Required
                                    Field</small>
                              
                           </div>
                           <div class="col-12">

                              <label for="exampleInputPassword1" class="form-label">Phone number</label>
                              <input type="text" class="form-control" name="Phonenumber" [(ngModel)]="signupform.phonenumber"
                                 [class.is-invalid]="phonenumber.invalid && phonenumber.touched" #phonenumber="ngModel"
                                 required minlength="10">
                              <small class="text-danger"
                                 [class.d-none]="phonenumber.valid||phonenumber.untouched">Required Field</small>
                           </div>
                           <!-- </div> -->
                           
                              <div class="col-12">
                              <div class="form-check">

                                 <div class="invalid-feedback">You must agree before submitting.</div>
                              </div>
                           </div>
                           <div class="leftlogo right">
                              <div class="d-flex justify-content-center py-4">
                                 <a routerLink="/" class="logo d-flex align-items-center w-auto">
                                   <img src="assets/img/logo.png" alt="" />
                                   <span class="d-none d-lg-block">ICTAK</span>
                                 </a>
                               </div>
                           </div>
                           <div class="left lg-12">
                              <div class="col-12">
                              <button class="btn btn-primary w-100" type="submit" [disabled]="userlogin.form.invalid">
                                 Create Account
                              </button>
                           </div><br>
                           <div class="col-12">
                              <p class="small mb-0">Already have an account? <a routerLink="/login">Log in</a></p>
                           </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>
