<!-- <app-layoutfaculty></app-layoutfaculty> -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Curriculums</h1>
        <nav>
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Curriculum</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Institution</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Hours</th>
                                    <th scope="col">Comments</th>
                                    <th scope="col">File</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let curriculum of lists,let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{curriculum.namereq}}</td>
                                    <td>{{curriculum.institution}}</td>
                                    <td>{{curriculum.area}}</td>
                                    <td>{{curriculum.category}}</td>
                                    <td>{{curriculum.hours}}</td>
                                    <td>{{curriculum.comments}}</td>
                                <td><a href="http://localhost:3500/{{curriculum.fileuploadpath}}" target="_blank">{{curriculum. fileuploadname}}</a></td>

                                    <td>
                                <button type="button" (click)="approve(curriculum._id)"
                                 class="btn btn-dark">Approve</button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<router-outlet></router-outlet>
